*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 10% 0;
    height: 100vh;
}

form{
    width: 70%;
    height: 70%;
    border: 2px solid gray;
    background-color: blanchedalmond;
    padding: 5px;
    font-size: 2rem;

}
fieldset{
    position: relative;
    padding: 50px;
    height: 90%;
    /* background-color: azure; */
    border: none;
}

label::after {
    content: "";
    display: block;
    padding: 5px;
}
span {
    position: absolute;
    color: red;
    right: 10px;

}

#submit{
    position: absolute;
    right: 10px;
    width: 100px;
    padding: 10px;
    bottom: -20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(244, 178, 97);
}
#submit{
   box-shadow: 0 0 13px orange;
}

p{
    position: absolute;
    bottom: 100px;
}

.right  {
    width: 100px;
    height: 50px;
    background-image: url('images/rightsign.png');
    background-size:cover;
    background-position: center;
}

.wrong  {
    width: 100px;
    height: 50px;
    background-image: url('images/wrongsign.png');
    background-size:cover;
    background-position: center;
}